<h1>Lista Recursos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @pins %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Recurso', new_pin_path %>
