<div class="row">
		<div class="container-fluid">			 
			 <%= link_to new_pin_path do %>
				<h4 class="well"><i class="fa fa-plus-circle"></i> Nuevo Recurso</h4>
  			 <% end %> 

			
			<section class="row col-xs-offset-2 col-md-offset-0 col-sm-offset-0 col-xs-8 col-sm-12 col-md-8">
				<br/>

				<div class="row">
					<section class="col-xs-12 col-sm-12 col-md-12">
					   	<%= render @pins %>
					</section>
				</div>
				<br/>
				<p><%= will_paginate @pins %></p>
			</section>				
			<%= render "layouts/aside"%>
		</div>
</div>
