<div class="row span6 offset3 well">
  <strong>Descripción:</strong>
  <%= @pin.description %>
</div>

<div class="row span9 ">
	<%= link_to 'Editar', edit_pin_path(@pin) %> |
	<%= link_to 'Regresar', pins_path %>
</div>