<h1 class="well">Posts de <%= @user.name %></h1>
<div class="row">
		<div class="container-fluid">			 
			<section class="container row col-xs-offset-2 col-md-offset-0 col-sm-offset-0 col-xs-12 col-sm-8 col-md-8">

				<div class="row">
					<section class="col-xs-12 col-sm-6 col-md-12">
					   	<%= render @pins %>
					</section>
				</div>
				<br/>
				<p><%= will_paginate @pins %></p>
			</section>				
			<%= render "layouts/aside"%>
		</div>
</div>