
<aside style="margin-top: 20px;" class="hidden-xs container col-xs-12 col-sm-4 col-md-4 center-block" id="extra-content">

						<h3 class="text-info"><small><span class="glyphicon glyphicon-star"></span></small> Más popular</h3>
						<ul>
							<a><li>codebots.net</li></a>
							<a><li>andybros.com</li></a>
							<a><li>chachigonzales.com</li></a>
							<a><li>RubinMz.com</li></a>
							<br />
						</ul>

						<section>
							<h3>Últimos artículos</h3>
							<p>
							Obtengo de la db los últimos titulos de artículos y un poco de su texto, por quien fue
							creado, la fecha, likes, comentarios, etc...
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<p>
							Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</section>


						<script>
							$(document).ready(function(){
								$("#categorias a").each(function(i){
									if(i%2!=0){$(this).addClass("fsPair");}
									else{$(this).addClass("fsNon");}
								});
							});	
						</script>

						<section id="categorias">
							<h3>Contenido por carpetas</h3>
							<p>
							aqui metere alguna estupidez
							</p>
							
						</section>

						<section>
							<h3>Contenido Social</h3>
							<p>
							aqui metere lashlksahkjasasdj
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>


							<div class="fb-like" data-href="https://www.facebook.com/codebots.net" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" />
								
								<a class="btn btn-block btn-social btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-github']);">
						            <i class="fa fa-github"></i> Sign in with GitHub
						          </a>

								  <a class="btn btn-block btn-social btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
						            <i class="fa fa-facebook"></i> Sign in with Facebook
						          </a>

								<a class="btn btn-block btn-social btn-twitter">
								   <i class="fa fa-twitter"></i> Sign in with Twitter
								 </a>
								  <a class="btn btn-block btn-social btn-google-plus" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google-plus']);">
						            <i class="fa fa-google-plus"></i> Sign in with Google
						          </a>
						          <a class="btn btn-block btn-social btn-instagram" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-instagram']);">
						            <i class="fa fa-instagram"></i> Sign in with Instagram
						          </a>
						           <a class="btn btn-block btn-social btn-tumblr" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-tumblr']);">
						            <i class="fa fa-tumblr"></i> Sign in with Tumblr
						          </a>

						          
						</section>
				</aside>