<footer style="margin-top: 80px;">
			<div class="container-fluid padd">
				<div class="row">
					<script>
						$(document).ready(function(){
							$("#categorias a").each(function(i){
								if(i%2!=0){$(this).addClass("fsPair");}
								else{$(this).addClass("fsNon");}
							});
						});	
					</script>
				<section id="categorias" class="row col-xs-12 col-sm-6 col-md-4">						
							<ul class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
		    					<li><a class="fsNon" href="#">Node.js</a></li>
			    				<li><a class="fsPair" href="#">PHP5 it's the shit!</a></li>
			    				<li><a class="fsNon" href="#">ZanPHP</a></li>
			    				<li><a class="fsPair" href="#">Rubi On Rails</a></li>
			    				<li><a class="fsNon" href="#">Kendall Jenner</a></li>
			    				<li><a class="fsPair" href="#">SQL</a></li>
			    				<li><a class="fsNon" href="#">C++</a></li>
			    				<li><a class="fsPair" href="#">MySql</a></li>
			    				<li><a class="fsNon" href="#">PhPMyAdmin</a></li>
			    			</ul>
			    			<ul class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
			    				<li><a class="fsPair" href="#">Javascript</a></li>
			    				<li><a class="fsNon" href="#">Ubuntu</a></li>
			    				<li><a class="fsPair" href="#">Jessica Nigri</a></li>
			    				<li><a class="fsNon" href="#">Phyton</a></li>
			    				<li><a class="fsPair" href="#">Linux</a></li>
			    				<li><a class="fsNon" href="#">C#</a></li>
			    				<li><a class="fsPair" href="#">PHP5</a></li>
			    				<li><a class="fsNon" href="#">jQuery</a></li>
			    				<li><a class="fsPair" href="#">Android</a></li>
			    			</ul>
			    			<ul class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
			    				<li><a class="fsNon" href="#">Andy Bros</a></li>
			    				<li><a class="fsPair" href="#">Testing</a></li>
			    				<li><a class="fsNon" href="#">Codeigniter</a></li>
			    				<li><a class="fsPair" href="#">JAVA</a></li>
			    				<li><a class="fsNon" href="#">GTAV</a></li>
			    				<li><a class="fsPair" href="#">IOS</a></li>
			    				<li><a class="fsNon" href="#">Games</a></li>
			    				<li><a class="fsPair" href="#">Kendall Jenner</a></li>
			    				<li><a class="fsNon" href="#">HHI 2013</a></li>
			    			</ul>
					</section>

					<section class="row col-xs-12 col-sm-6 col-md-4">
						<h4>Proyectos realizados</h4>
						<h3>imágenes en círculo</h3>
					</section>

					<section class="row col-xs-12 col-sm-12 col-md-4">
						<h4>Referencias</h4>
						<h3>O algo así...</h3>
					</section>
				</div>

				<div class="row container-fluid">
					<section class="row col-xs-12 col-sm-6 col-md-12">
						<h4>@RubinMz <small>- Codebots.net</small></h4>
					</section>
				</div>
			</div>
		</footer>